{% extends 'html.html.twig' %}

{% use 'page.html.twig' %}

{% set head_title = 'Authorization Endpoint | AuthBucket\\OAuth2' %}

{% block main %}
    <h1 class="page-header">Authorization Endpoint <small>(response_type = token)</small></h1>
    <blockquote>
        <p>The client directs the resource owner to the constructed URI using an HTTP redirection response, or by other means available to it via the user-agent.</p>
        <footer><a href="http://tools.ietf.org/html/rfc6749#section-4.2.1">4.2.1. Authorization Request</a></footer>
    </blockquote>

    <h2 id="actions" class="page-header">Actions</h2>
    <p><a class="btn btn-primary" role="button" href="{{ model_path }}">Debug with Local Resource</a></p>
    <p><a class="btn btn-primary" role="button" href="{{ debug_path }}">Debug with Remote Resource</a></p>
    <p><a class="btn btn-primary" role="button" href="{{ path('demo') }}">Return</a></p>
    <p><a class="btn btn-primary" role="button" href="{{ path('oauth2_authorize_logout') }}">Logout</a></p>

    <h2 id="access-token-response" class="page-header">Access Token Response</h2>
    {{ dump(access_token_response) }}
{% endblock %}

{% block aside %}
    <ul class="nav" data-spy="affix">
        <li><a href="#actions">Actions</a></li>
        <li><a href="#access-token-response">Access Token Response</a></li>
    </ul>
{% endblock %}
